/* SETUP */

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;

  background-color: var(--white);
  color: var(--dark);
}

main {
  flex-grow: 1;
}

.icon {
  width: 24px;
  aspect-ratio: 1;
}

.hero_icon {
  width: 24px;
  height: 13px;
}

#hero,
#about,
#projects,
#benefits,
#FAQ,
#reviews,
#contact {
  scroll-margin-top: 40px;
}
