.is-dark-theme body {
  background-color: var(--dark-DT);
  color: var(--white);
}

.is-dark-theme .accent {
  color: var(--accet-green-DT);
}

.is-dark-theme #preloader {
  background-color: var(--dark-DT);
}

.is-dark-theme a {
  color: var(--white);
}

.is-dark-theme a:hover {
  color: var(--accet-green-DT);
}

.is-dark-theme button {
  background-color: var(--accet-green-DT);
}

.is-dark-theme button:hover {
  background-color: var(--hover-green);
}

.is-dark-theme .button__to-top {
  border-color: var(--white);
}

.is-dark-theme .footer--to_top_ico {
  fill: var(--white) !important;
}

.is-dark-theme .footer__to-top-box > span {
  color: var(--white);
}

/* REVIEWS */

.is-dark-theme .projects-btn {
  background: transparent;
  color: var(--white);
  border-bottom: 2px solid var(--accet-green-DT);
}

.is-dark-theme .projects-btn:hover,
.is-dark-theme .projects-btn:focus {
  background: transparent;
}

.is-dark-theme .projects-item-link {
  background: var(--charcoal-DT);
}

.is-dark-theme .projects-item-link:hover {
  color: var(--dark);
}

/* HEADER */

.is-dark-theme .header-mobile-menu-open,
.is-dark-theme .header-mobile-menu-close,
.is-dark-theme .header-mobile-menu-open:hover,
.is-dark-theme .header-mobile-menu-close {
  background-color: transparent !important;
}

.is-dark-theme .header-mobile-link {
  color: var(--dark-DT) !important;
}

.is-dark-theme .burger-btn-menu {
  fill: var(--white);
}

.is-dark-theme .header-mobile-menu {
  background-color: var(--dark-DT);
}

.is-dark-theme .header-logo {
  color: var(--white);
}

.is-dark-theme .header-mobile-link {
  color: var(--white) !important;
}

.is-dark-theme .menu-close-icon {
  stroke: var(--white);
}

.is-dark-theme .sticky {
  background-color: rgba(30, 32, 35, 0.8);
}

@media screen and (max-width: 420px) {
  .is-dark-theme .sticky {
    background-color: var(--dark-DT);
  }
}

/* HERO */

.is-dark-theme .hero_navigation {
  background-color: var(--charcoal-DT);
}

.is-dark-theme .button_text {
  color: var(--white) !important;
}

/* FAQ */

.is-dark-theme .ac.is-active {
  background-color: var(--dark-accet-DT) !important;
}

.is-dark-theme .ac .ac-trigger {
  color: var(--white) !important;
}

.is-dark-theme .ac-text {
  color: var(--white) !important;
}

.is-dark-theme .ac .ac-trigger::after {
  filter: hue-rotate(180deg) saturate(2) brightness(5);
}

/* REVIEWS */

.is-dark-theme li.swiper-slide {
  background-color: var(--charcoal-DT);
}
.is-dark-theme .swiper-button-prev,
.is-dark-theme .swiper-button-next {
  border-color: var(--white) !important;
}
.is-dark-theme .swiper-button-prev:after,
.is-dark-theme .swiper-button-next:after {
  filter: hue-rotate(180deg) saturate(1) brightness(50);
}

/* BENEFITS */

.is-dark-theme .benefits_icon {
  background-color: var(--dark-accet-DT);
}

/* CONTACTS */

.is-dark-theme input,
.is-dark-theme textarea {
  color: var(--white) !important;
  background-color: var(--charcoal-DT) !important;
}

.is-dark-theme input::placeholder,
.is-dark-theme textarea::placeholder {
  color: inherit !important;
}

.contact_button {
}
