.about-pic {
  margin-bottom: 40px;
}
.bio {
  margin-bottom: 32px;
  margin-top: 40px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
}
.p_bio {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}
.education_list,
.role_list {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}

.li_edu::before,
.li_role::before {
  content: '';
  display: inline-block;
  border-radius: 1px;
  width: 4px;
  height: 4px;
  margin-right: 8px;
  background: #00b068;
  transform: rotate(-180deg);
  background-image: url('/image/icons/dot.svg');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  color: #00b068;
}
.about-pic {
  border-radius: 16px;
  width: 336px;
  height: 392px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: url('path_to_image');
}

@media screen and (min-width: 768px) {
  .about-content::after {
    background-image: url('/image/background/decor_about.png');
  }
}
