.footer-logo {
  display: flex;
  font-family: var(--impact-font);
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0 0 32px 0;
  color: var(--dark);
}
.highlight {
  color: #00b068;
}
.footer-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-bottom: 40px;
}
.copyright-footer {
  font-family: var(--poppins-font);
  font-weight: var(--light);
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  white-space: pre-line;
  margin: -24px 0 -24px 0;
  transition: color 0.25s ease-in-out;
}

.footer-nav-list {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  row-gap: 24px;
}
@media screen and (min-width: 768px) {
  .copyright-footer {
    text-align: right;
    white-space: nowrap;
    margin: 0 0 24px 0;
  }
  .footer-nav-list {
    display: flex;
    flex-direction: row;
    row-gap: 0px;
    column-gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-flexbox {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-logo {
    padding: 0px;
  }
}
