.header {
  z-index: 999;

  background-color: transparent;

  transform-origin: center top;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header_wrapper {
  display: flex;
  align-items: center;
}

.scrolling {
  background-color: var(--white);
  transform: scaleY(0.6);
}

.sticky {
  max-width: 1280px;
  width: 100%;

  margin: auto;
  z-index: 999;
  position: sticky;
  top: 10px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  transform: scaleY(1);

  background-color: rgba(240, 240, 240, 0.5);

  backdrop-filter: blur(4px);

  border-radius: 25px;
}

.header-logo {
  display: flex;
  font-family: var(--impact-font);
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 20px 0;
}

.logo:hover {
  transform: scale(1.02);
  color: inherit;

  text-shadow: 0.5px 0.5px var(--dark-DT);
}

.header-mobile-logo {
  display: flex;
  font-family: var(--impact-font);
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 20px 0;
  color: #292929;
}

.header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  margin-right: 44px;
  position: relative;
}

.switch-container {
  display: none;
}

.navigation_wrapper {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: none;
}

.header-item {
  display: inline-block;
}

.header-mobile-menu-open {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
  border: none;
  background: none;
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.header-mobile-menu-open:hover {
  background-color: transparent !important;
}

.burger-btn-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  fill: var(--dark-DT);
}

/* -------------------------------- */

@media screen and (min-width: 768px) {
  .header-logo {
    padding: 32px 0;
    font-size: 32px;
  }

  .switch-container {
    display: flex;
  }

  .header-mobile-menu-open {
    display: none;
  }

  .header-navigation {
    display: flex;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
  }

  .header-link {
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    transition: color 0.25s ease-in-out;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .header-link:hover,
  .header-link:focus {
    color: #00b068;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-rezolution: 2dppx),
  (min-rezolution: 192dpi) {
  .header-mobile-menu {
    background-image: url(../image/background/decor-mobil-menu@2x-mob.png);
  }
}

.header-mobile-menu-container {
  visibility: hidden;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 1000;
  opacity: 0.6;
  transform: translateX(100%) scaleX(0);
  transition: transform 0.6s ease-in-out;
}

.mob-menu-top-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header-nav-menu-wrap {
  display: flex;
  align-items: center;
  align-self: center;

  flex-grow: 1;
}

/* Відображаємо модалку */

.header-mobile-menu-container.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

.header-mobile-logo {
  margin: 0;
}

.highlit {
  color: #00b068;
}

.mob-menu-top {
  display: flex;
  align-items: center;
}

.header-mobile-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #e4e5e6;
  align-items: center;
  justify-content: center;
}

.header-btn-icon {
  transition: fill 0.25s ease-in-out;
}

.header-btn-icon:hover,
.header-btn-icon:focus {
  fill: #00b068;
}

.menu-open-icon {
  width: 32px;
  height: 32px;
  fill: #292929;
  transition: fill 0.3s ease-in-out;
}

.menu-open-icon:hover {
  stroke: #00b068;
}

.mob-menu-top-bottom {
  flex-grow: 1;

  background-image: url(../image/background/decor-mobil-menu@1x-mob.png);
  background-position-y: 70px;
  background-position-x: 25px;
  background-size: 90%;
  background-repeat: no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-rezolution: 2dppx),
  (min-rezolution: 192dpi) {
  .mob-menu-top-bottom {
    background-image: url(../image/background/decor-mobil-menu@2x-mob.png);
  }
}

.header-mobile-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.menu-close-icon {
  stroke: #292929;
}

.header-mobile-menu-close {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
  border: none;
  background: none;
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.header-mobile-menu-close:hover {
  background-color: transparent !important;
}

.header-mobile-menu {
  height: 100%;
  flex-direction: column;
}
.header-mobile-link {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.header-mobile-link:hover,
.header-mobile-link:focus {
  color: #00b068;
}

body.no-scroll {
  overflow: hidden;
}

.switch-mobile {
  position: absolute;

  bottom: 50px;
  right: 10px;

  transform: rotate(90deg);

  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 1280px) {
  .sticky {
    max-width: 768px;
  }
  .sticky .header-navigation {
    display: none;
  }

  .sticky .header-mobile-menu-open {
    display: block;
  }
}

@media screen and (max-width: 767.98px) {
  .sticky {
    max-width: 360px;
  }
}

@media screen and (max-width: 520.98px) {
  .sticky {
    max-width: 100%;
    width: 100%;

    top: 0;
    border-radius: 0;
  }
}
