.projects .title_section {
  margin-bottom: 40px;
}
.projects-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  gap: 40px;
}

.projects-item {
  flex-direction: column;
  display: none;
}

.projects-item-img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 12px;
  object-fit: cover;
}

.projects-item-tech {
  font-family: var(--poppins-font);
  font-weight: var(--light);
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.projects-item-title {
  font-family: var(--poppins-font);
  font-weight: var(--medium);
  font-size: 2em;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.projects-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  border-radius: 8px;

  width: 125px;
  height: 48px;
  background: var(--light-grey);

  gap: 12px;
  transition: var(--T-D);
}

.projects-item-link:hover,
.projects-item-link:focus {
  color: var(--dark);
  background-color: var(--hover-grey);
}
.projects-item-link-span {
  font-family: var(--poppins-font);
  font-weight: var(--medium);
}

.projects-btn {
  display: block;

  padding: 12px 24px;
  margin: 0 auto;

  width: 100%;
  height: 56px;

  width: auto;

  font-family: var(--poppins-font);
  font-weight: var(--regular);
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 0;

  background-color: transparent !important;
  color: inherit;

  transition: var(--T-D);
}

.text_hover-animation {
  position: relative;

  width: auto;

  font-size: 20px;
}

.text_hover-animation::after {
  content: '';

  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  width: 100%;

  height: 2px;
  background-color: var(--accet-green);
}

.projects-btn:hover .text_hover-animation::after {
  color: var(--accet-green);
  background-color: transparent;

  animation-name: pulseBorder;
  animation-duration: 2s;

  animation-iteration-count: infinite;
}

@keyframes pulseBorder {
  0% {
    width: 30%;
    background-color: var(--accet-green);
  }
  50% {
    width: 100%;
    background-color: transparent;
  }
  100% {
    width: 30%;
    background-color: var(--accet-green);
  }
}

.visible {
  display: flex;
}

@media screen and (min-width: 768px) {
  .projects .title_section {
    margin-bottom: 60px;
    font-size: 108px;
  }

  .projects-list {
    max-width: 100%;
    gap: 60px;
  }

  .projects-item-img {
    border-radius: 28px;
    margin-bottom: 16px;
  }

  .projects-item-tech {
    margin-bottom: 20px;
  }
  .projects-item-container {
    display: flex;
    flex-direction: row;
  }

  .projects-item-title {
    font-size: 36px;
  }

  .projects-item-btn {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .projects-list {
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 1008px;
    width: 100%;

    gap: 80px;
  }
  .projects .title_section {
    margin-bottom: 80px;
  }
}
