<!-- section Benefits -->
<section id="benefits" class="benefits section">
  <div class="container">
    <h2 class="title_section canсel_margin">
      <span class="accent">Benefits</span> of
      <span class="text_width-config">working with <span class="text_width-config">me</span></span>
    </h2>
    <ul class="benefits_list">
      <li class="benefits_item">
        <svg class="benefits_icon" width="24" height="24">
          <use href="../image/icons/sprite/icons.svg#icon-user"></use>
        </svg>
        <h3 class="benefits_title">Expertise</h3>
        <p class="benefits_text">With extensive experience in development, I have a deep understanding of programming
          and website development.
        </p>
      </li>
      <li class="benefits_item">
        <svg class="benefits_icon" width="24" height="24">
          <use href="../image/icons/sprite/icons.svg#icon-message"></use>
        </svg>
        <h3 class="benefits_title">Communication</h3>
        <p class="benefits_text">Understanding your needs and wants is my priority and I am always available for
          discussions and open to
          corrections.</p>
      </li>
      <li class="benefits_item">
        <svg class="benefits_icon" width="24" height="24">
          <use href="../image/icons/sprite/icons.svg#icon-pencil"></use>
        </svg>
        <h3 class="benefits_title">Art</h3>
        <p class="benefits_text">Thanks to my creative nature, I am ready to accept challenges and help you bring your
          ideas to life.</p>
      </li>
      <li class="benefits_item">
        <svg class="benefits_icon" width="24" height="24">
          <use href="../image/icons/sprite/icons.svg#icon-clock"></use>
        </svg>
        <h3 class="benefits_title">Urgent execution</h3>
        <p class="benefits_text">I understand how important time is to you. Ready to work quickly and efficiently,
          without reducing the
          quality of work.</p>
      </li>
  </div>
</section>