<section id="contact" class="contact section">
  <div class="container">
    <h2 class="title_section">
      <span>LET'S</span>
      <span class="accent">WORK</span>
      <span class="accent text_width-config">TOGETHER</span>
    </h2>
    <div class="contact-wraper">
      <p class="contact-message">
      Contact me to transform your ideas into exceptional solutions.
      </p>
      <ul class="contact-list">     
        <li class="contact-item">
          <div class="contact-list-item">
            <svg class="icon">
              <use href="./../image/icons/sprite/icons.svg#icon-phone"></use>
            </svg>
            <a class="contact-link" href="tel:+380904567890" target="_blank">+38 090 456 78 90</a>
          </div>
        </li>
        <li class="contact-item">
          <div class="contact-list-item">
            <svg class="icon">
              <use href="./../image/icons/sprite/icons.svg#icon-mail"></use>
            </svg>
            <a class="contact-link" href="mailto:lloydjefferson@gmail.com" target="_blank">lloydjefferson@gmail.com</a>
        </li>
        <li class="contact-item">
          <div class="contact-list-item">
            <svg class="icon">
              <use href="./../image/icons/sprite/icons.svg#icon-location"></use>
            </svg>
            <a class="contact-link" href="https://www.google.com/maps/@40.6970238,-74.1446556,11z?entry=ttu&g_ep=EgoyMDI1MDQyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">USA, New York</a>
          </div>
        </li>
      </ul>
    <div class="contact-form-box">
      <form class="work-contact">
        <lablel for="email" class="email-label">
          <input type="email" name="email" class="email-input" id="form-email"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required placeholder="Your email*" />
        </lablel>
        <label for="message">
          <textarea type="textarea" class="text-message" name="textarea" placeholder="Message" maxlength="530"></textarea>
        </label>
        <button class="btn-send-message" type="submit">SEND MESSAGE</button>
      </form>
    </div>
    </div>    
  </div>
</section>
