<section id="contact" class="contact section">
  <div class="container">
    <h2 class="title_section">
      <span>LET'S</span>
      <span class="accent">WORK</span>
      <span class="accent text_width-config">TOGETHER</span>
    </h2>
    <p class="contact-message">
      Contact me to transform your ideas into exceptional solutions.
    </p>
    <ul class="contact-list">
      <li class="contact-item">
        <a class="contact-link" href="tel:+380904567890">+38 090 456 78 90</a>
      </li>
      <li class="contact-item">
        <a class="contact-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
      <li class="contact-item">
        <a class="contact-link" href="google.com/maps/place/USA,NewYork/>USA,NewYork">USA, New York</a>
      </li>
    </ul>
    <div class="contact-form-box">
      <form class="work-contact">
        <input type="email" name="email" class="input" id="form-email"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required placeholder="Your email*" />
        <textarea id="user-message" class="user-message" name="textarea" placeholder="Message"></textarea>
        <button class="btn-send-message" type="submit">SEND MESSAGE</button>
      </form>
    </div>
        
  </div>
</section>
