<section id="hero" class="hero section">
  <div class="container">
    <div class="hero_overlay">
      <h1 class="title_section">
        <span class="hero_title--custom">Hello, I am</span>
        <span class="wrap_text accent">FullStack Developer</span>
      </h1>
      <div class="hero_info--panel">
        <div class="hero_button--wrapper">
          <a href="#contact">
            <button class="hero_button">
              <span class="transform_text">
                <!-- ArrowHero  -->
                <svg class="hero_icon" style="fill: none;">
                  <use
                    href="/image/icons/sprite/icons.svg#icon-ArrowHero"
                  ></use>
                </svg>
                <span class="button_text">Order the project</span>
              </span>
            </button>
          </a>
        </div>
        <div class="hero_about-wrapper">
          <span class="caption">
            I work with people all over the world to create
            <span class="accent">impressive</span> and
            <span class="accent">functional websites</span> that reflect each
            client’s unique personality.
          </span>
        </div>
      </div>
    </div>
  </div>
  <nav class="hero_navigation">
    <ul class="hero_nav--list">
      
        <li class="hero_nav--item">
          <a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
        </li> 
        <li class="hero_nav--item">
          <a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
        </li>
        <li class="hero_nav--item">
          <a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank">Linkedin</a>
        </li>
        <li class="hero_nav--item">
          <a href="https://github.com/ViktorHarasymiv/code-questers" target="_blank">GitHub</a>
        </li>
      </a>
    </ul>
  </nav>
</section>
