<section id="projects" class="projects section target_section">
  <div class="container">
    <h2 class="title_section text-center">
      My <span class="accent">Projects</span>
    </h2>
    <ul id="js-projects_list" class="projects-list">
      <li class="projects-item visible">
        <picture>
          <source
            srcset="
              ./image/projects/desktop/wallet-desk.jpg    1x,
              ./image/projects/desktop/wallet-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./image/projects/tablet/wallet-tab.jpg    1x,
              ./image/projects/tablet/wallet-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./image/projects/mobile/wallet-mob.jpg    1x,
              ./image/projects/mobile/wallet-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="projects-item-img"
            src="./img/projects/mobile/wallet-mob@2x.jpg"
            alt="Banking App Interface Concept"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">wallet webservice</h3>
          <a class="projects-item-link" href="#" target="_blank">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="icon">
              <use href="/image/icons/sprite/icons.svg#icon-arrow-button"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-item visible">
        <picture>
          <source
            srcset="
              ./image/projects/desktop/green-desk.png    1x,
              ./image/projects/desktop/green-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./image/projects/tablet/green-tab.png    1x,
              ./image/projects/tablet/green-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./image/projects/mobile/green-mob.png    1x,
              ./image/projects/mobile/green-mob@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="projects-item-img"
            src="./img/projects/mobile/green-mob@2x.png"
            alt="Organic vegetables"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">Green harvest webservice</h3>
          <a class="projects-item-link" href="#" target="_blank">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="icon">
              <use href="/image/icons/sprite/icons.svg#icon-arrow-button"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-item visible">
        <picture>
          <source
            srcset="
              ./image/projects/desktop/english-desk.jpg    1x,
              ./image/projects/desktop/english-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./image/projects/tablet/english-tab.jpg    1x,
              ./image/projects/tablet/english-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./image/projects/mobile/english-mob.jpg    1x,
              ./image/projects/mobile/english-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="projects-item-img"
            src="./img/projects/mobile/english-mob@2x.jpg"
            alt="English website"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">English Exellence website</h3>
          <a class="projects-item-link" href="#" target="_blank">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="icon">
              <use href="/image/icons/sprite/icons.svg#icon-arrow-button"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-item">
        <picture>
          <source
            srcset="
              ./image/projects/desktop/power-pulse.jpg    1x,
              ./image/projects/desktop/power-pulse@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./image/projects/desktop/power-pulse.jpg    1x,
              ./image/projects/desktop/power-pulse@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./image/projects/desktop/power-pulse.jpg    1x,
              ./image/projects/desktop/power-pulse@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="projects-item-img"
            src="./image/projects/desktop/power-pulse@2x.jpg"
            alt="power pulse webservice"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">power pulse webservice</h3>
          <a class="projects-item-link" href="#" target="_blank">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="icon">
              <use href="/image/icons/sprite/icons.svg#icon-arrow-button"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-item">
        <picture>
          <source
            srcset="
              ./image/projects/desktop/mimino-desk.png    1x,
              ./image/projects/desktop/mimino-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./image/projects/desktop/mimino-desk.png    1x,
              ./image/projects/desktop/mimino-desk@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./image/projects/desktop/mimino-desk.png    1x,
              ./image/projects/desktop/mimino-desk@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="projects-item-img"
            src="./img/projects/desktop/mimino-desk@2x.jpg"
            alt="Mimino website"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">mimino website</h3>
          <a class="projects-item-link" href="#" target="_blank">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="icon">
              <use href="/image/icons/sprite/icons.svg#icon-arrow-button"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-item">
        <picture>
          <source
            srcset="
              ./image/projects/desktop/vyshyvanka.jpg    1x,
              ./image/projects/desktop/vyshyvanka@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./image/projects/desktop/vyshyvanka.jpg    1x,
              ./image/projects/desktop/vyshyvanka@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./image/projects/desktop/vyshyvanka.jpg    1x,
              ./image/projects/desktop/vyshyvanka@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="projects-item-img"
            src="./image/projects/desktop/vyshyvanka@2x.jpg"
            alt="Vyshyvanka vibes Landing Page"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">vyshyvanka vibes Landing Page</h3>
          <a class="projects-item-link" href="#" target="_blank">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="icon">
              <use href="/image/icons/sprite/icons.svg#icon-arrow-button"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-item">
        <picture>
          <source
            srcset="
              ./image/projects/desktop/energy-flow.jpg    1x,
              ./image/projects/desktop/energy-flow@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./image/projects/desktop/energy-flow.jpg    1x,
              ./image/projects/desktop/energy-flow@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./image/projects/desktop/energy-flow.jpg    1x,
              ./image/projects/desktop/energy-flow@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="projects-item-img"
            src="./img/projects/desktop/energy-flow@2x.jpg"
            alt="chego jewelry website"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">energy flow webservice</h3>
          <a class="projects-item-link" href="#" target="_blank">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="icon">
              <use href="/image/icons/sprite/icons.svg#icon-arrow-button"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-item">
        <picture>
          <source
            srcset="
              ./image/projects/desktop/jewerly.jpg    1x,
              ./image/projects/desktop/jewerly@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./image/projects/desktop/jewerly.jpg    1x,
              ./image/projects/desktop/jewerly@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./image/projects/desktop/jewerly.jpg    1x,
              ./image/projects/desktop/jewerly@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="projects-item-img"
            src="./img/projects/desktop/jewerly@2x.jpg"
            alt="energy flow webservice"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">chego jewelry website</h3>
          <a class="projects-item-link" href="#" target="_blank">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="icon">
              <use href="/image/icons/sprite/icons.svg#icon-arrow-button"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-item">
        <picture>
          <source
            srcset="
              ./image/projects/desktop/fruitbox.jpg    1x,
              ./image/projects/desktop/fruitbox@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./image/projects/desktop/fruitbox.jpg    1x,
              ./image/projects/desktop/fruitbox@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./image/projects/desktop/fruitbox.jpg    1x,
              ./image/projects/desktop/fruitbox@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="projects-item-img"
            src="./img/projects/desktop/fruitbox@2x.jpg"
            alt="fruitbox online store"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">fruitbox online store</h3>
          <a class="projects-item-link" href="#" target="_blank">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="icon">
              <use href="/image/icons/sprite/icons.svg#icon-arrow-button"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-item">
        <picture>
          <source
            srcset="
              ./image/projects/desktop/starlight.jpg    1x,
              ./image/projects/desktop/starlight@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./image/projects/desktop/starlight.jpg    1x,
              ./image/projects/desktop/starlight@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./image/projects/desktop/starlight.jpg    1x,
              ./image/projects/desktop/starlight@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="projects-item-img"
            src="./img/projects/desktop/starlight@2x.jpg"
            alt="starlight studio landing page"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">starlight studio landing page</h3>
          <a class="projects-item-link" href="#" target="_blank">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="icon">
              <use href="/image/icons/sprite/icons.svg#icon-arrow-button"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <button id="js-projects_btn" class="projects-btn">
      <span class="text_hover-animation">Load more</span>
    </button>
  </div>
</section>
