<section id="reviews" class="reviews section">
  <div class="container">
    <h2 class="title_section text-center">reviews</h2>
    <div class="swiper">
      <ul class="swiper-wrapper"></ul>
      <div class="swiper-button-prev">
        <svg class="icon">
          <use href="./../image/icons/arrow-left.svg"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="icon">
          <use href="./../image/icons/arrow-right.svg"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
