<div class="marquee-wrapper">
  <h2 class="offscreen">Tech Skills List</h2>
  <div class="marquee-container">
    <div class="marquee-content">
      <ul class="marquee-list">
        <li class="marquee-item">HTML/CSS</li>
        <li class="marquee-item">JAVASCRIPT</li>
        <li class="marquee-item">REACT</li>
        <li class="marquee-item">NODE.JS</li>
        <li class="marquee-item">REACT NATIVE</li>
        <li class="marquee-item">TYPESCRIPT</li>
        <li class="marquee-item">HTML/CSS</li>
        <li class="marquee-item">JAVASCRIPT</li>
        <li class="marquee-item">REACT</li>
        <li class="marquee-item">NODE.JS</li>
        <li class="marquee-item">REACT NATIVE</li>
        <li class="marquee-item">TYPESCRIPT</li>
      </ul>
      <ul class="marquee-list" aria-hidden="true">
        <li class="marquee-item">HTML/CSS</li>
        <li class="marquee-item">JAVASCRIPT</li>
        <li class="marquee-item">REACT</li>
        <li class="marquee-item">NODE.JS</li>
        <li class="marquee-item">REACT NATIVE</li>
        <li class="marquee-item">TYPESCRIPT</li>
        <li class="marquee-item">HTML/CSS</li>
        <li class="marquee-item">JAVASCRIPT</li>
        <li class="marquee-item">REACT</li>
        <li class="marquee-item">NODE.JS</li>
        <li class="marquee-item">REACT NATIVE</li>
        <li class="marquee-item">TYPESCRIPT</li>
      </ul>
    </div>
  </div>
  <div class="marquee-container reverse rotated">
    <div class="marquee-content">
      <ul class="marquee-list">
        <li class="marquee-item">HTML/CSS</li>
        <li class="marquee-item">JAVASCRIPT</li>
        <li class="marquee-item">REACT</li>
        <li class="marquee-item">NODE.JS</li>
        <li class="marquee-item">REACT NATIVE</li>
        <li class="marquee-item">TYPESCRIPT</li>
        <li class="marquee-item">HTML/CSS</li>
        <li class="marquee-item">JAVASCRIPT</li>
        <li class="marquee-item">REACT</li>
        <li class="marquee-item">NODE.JS</li>
        <li class="marquee-item">REACT NATIVE</li>
        <li class="marquee-item">TYPESCRIPT</li>
      </ul>
      <ul class="marquee-list" aria-hidden="true">
        <li class="marquee-item">HTML/CSS</li>
        <li class="marquee-item">JAVASCRIPT</li>
        <li class="marquee-item">REACT</li>
        <li class="marquee-item">NODE.JS</li>
        <li class="marquee-item">REACT NATIVE</li>
        <li class="marquee-item">TYPESCRIPT</li>
        <li class="marquee-item">HTML/CSS</li>
        <li class="marquee-item">JAVASCRIPT</li>
        <li class="marquee-item">REACT</li>
        <li class="marquee-item">NODE.JS</li>
        <li class="marquee-item">REACT NATIVE</li>
        <li class="marquee-item">TYPESCRIPT</li>
      </ul>
    </div>
  </div>
</div>
